@tailwind base;
/*@tailwind components;*/
@tailwind utilities;

/*=============== Imports Scss ===============*/

/*=============== Base ===============*/
@import "./base/variables";
@import "./base/reset";
@import "./base/grid";
@import "./base/font";
@import "./base/errorMessage";

/*=============== Global ===============*/
@import "./global/header";
@import "./global/footer";

/*=============== Pages ===============*/
@import "./pages/kanbanBoard";
@import "./pages/authPages";
@import "./pages/log.css";

/*=============== Import Boxicons ===============*/
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');